{% extends 'base.html' %}


{% block title %}
        Category_list
{% endblock title %}
    

{% block content %}
<h2>Category List:</h2>

<style>
    .container,.dropdown-item{
        background-color: whitesmoke;
    }

</style>
<div class ='container card-body',>
    
<body>
    
    
    {% for item in cat_list  %}
    <a class="dropdown-item"  href="{% url 'category' item %}"">{{item}}</a> <hr>
        <br>
    {% endfor %}
        

</body>

{% if user.is_authenticated %}
<a class="nav-link" href="{% url 'add_category' %}">Add Category</a>

{% endif %}

</div>
{% endblock content %}
    
