{% extends 'base.html' %}


{% block content %}
    
    {% if user.is_authenticated %}
                
<form action="" method="post">
    {% csrf_token %}
    <h2>Delete Post</h2>
    <strong>Are you sure ?</strong>
    Confirm to delete  {{post.title}} ?
    <button class = 'btn btn-danger ' type="submit">Delete</button>
</form>
<a class = 'btn btn-info' href="{% url 'index' %}">Go Back</a>    

{% else %}

    <p>You cheeky Bastard!!! <br> Dont mess with me !!! <br> <a href="{% url 'login'%}">login</a></p>

    {% endif %}
{% endblock content %}
    
