{% extends 'base.html' %}


{% block title %}
   Edit {{post.title}}
{% endblock title %}
    


{% block content %}
<div class='container'>

   <div class =''> 

{% if user.id == post.author.id %}


{% if user.is_authenticated %}
    <br><br>
<h4>Update POST </h4>
<div class='form-group'>
 <form action="" method="post" enctype="multipart/form-data">
     {% csrf_token %}
     {{form.media}}

      {{form.as_p}}
      <br>
      <button class="btn btn-info" type="submit">Submit</button>
 </form>
</div>

<hr>
 <a class= 'btn btn-danger' href="{% url 'index' %}">Cancel?</a>
{% else %}
   <p>You shouldn't be here !!!!!!!!!!! <br>  How did you find me ? <br> <a href="{%url 'index' %}">Go Home Now!!!!</a> </p>
   {% endif %}
{% else %}
You are the author So Don't change here <br>
You are {{user}} This post belongs to {{post.author}}!!!
{%endif%}   

</div>
</div>
{% endblock content %}
    